@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');
html, body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif; 
}



.button{
  width: 66px;
  padding: 20px;
  margin: 0 3px;
  border: 2px solid black;
  border-radius: 9px;
  cursor: pointer;
}
button:hover {
    background-color: #a20eaf;
}
.operator {
    background-color: #ff9500;
    color: white;
}

.equal-sign {
    background-color: #4caf50;
    color:  #a20eaf;
    grid-column: span 4;
}

.all-clear {
    background-color: #ff3b30;
    color:  #a20eaf;
}
button:active {
    background-color: #0c0d0c;
}

.row{
  margin: 8px 0;
}
.row input{
  width: 291px;
  font-size: 20px;
    margin: 0;
    padding: 10px 0px;
    border: 2px solid black;
    border-radius: 5px;
}
